body{
    background-color: #87acb3;
}
.Top{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}
.info{
    padding: 0px 20px 10px 500px;
    text-align: right;
}
.r1{
    width: 100%;

}
.line{
    width: auto;
    border-top: 2px solid;
}
 .center{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
    border-collapse: collapse;

}
.tbl1{
    border-right: 2px solid;
    border-left: 2px solid;
}
.skls-txt{
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    width: 100%;
}
.exp1{
    text-align: center;
}
.border-exp{
    border-right: 2px solid;
    border-left: 2px solid;
    border-top: 2px solid;
    border-bottom: 2px solid;
}