@import url(https://fonts.google.com/specimen/Poppins?query=poppins);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins', sans-serif;

}
body{
    min-height: 100vh;
    background: linear-gradient(#0c2a7a,#af71d8);
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
header .logo{
    Color: #fff;
    font-weight: 700;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}
header .nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav .nlink{
    list-style: none;
    margin-left: 20px; 
}
header .nav .nlink .lnk {
text-decoration: none ;
padding: 6px 15px ;
color: #fff;
border-radius: 20px ;
}
header .nav .nlink .lnk:hover,
header .nav .nlink .lnk .active {
    background: #fff;
    color: #2b1055
}
.left{
    background-image: url(left.jpg);
}
section{
    position: realtive;
    width: 100%;
    height: 100vh;
    padding:100px;
}